*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
    font-size: 26px;
    font-family: sans-serif;
    color: antiquewhite;

}
ul{
    list-style: none;

}
li{
    display: inline;
    margin-right: 24px;
    padding: 10px;
}
nav{
    background-color: limegreen;
    height: 40px;
padding: 10px;
}

a:hover{
   background-color: black;
   font-size: 30px;
}